@import 'tailwindcss';

@theme {
    --font-sans: "Commissioner", "sans-serif";
    --font-display: "Nunito Sans", "Helvetica";
    --font-writing: "IBM Plex Mono", monospace;
}

html, body {
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "Commissioner";
    font-weight: 400;
    letter-spacing: -0.45px;
    src: url("/fonts/Commissioner/Commissioner-Regular.ttf");
}

@font-face {
    font-family: "Commissioner";
    font-weight: 500;
    letter-spacing: -0.45px;
    src: url("/fonts/Commissioner/Commissioner-Medium.ttf");
}

@font-face {
    font-family: "Commissioner";
    font-weight: 600;
    letter-spacing: -0.45px;
    src: url("/fonts/Commissioner/Commissioner-SemiBold.ttf");
}

@font-face {
    font-family: "Nunito Sans";
    font-stretch: wider;
    letter-spacing: -0.15px;
    font-weight: 700;
    src: url("/fonts/NunitoSans.ttf");
}


@font-face {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    letter-spacing: -0.45px;
    src: url("/fonts/IBMPlexMono/IBMPlexMono-Text.woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/IBMPlexMono/IBMPlexMono-TextItalic.woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    src: url("/fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/IBMPlexMono/IBMPlexMono-SemiBoldItalic.woff2");
}